<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${java.io.tmpdir}/utils-test.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{mm:ss.SSS} %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="FILE" />
	</root>

</configuration>
